h1 {
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: blueviolet;
}

h3 {
    text-align: center;
    color: brown;
    font-size: larger;
}

p {
    text-align: center;
    font-size: 0.9rem;
    line-height: 1.2rem;
}

.characters {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    gap: 20px;
}

.card {
    width: 300px;
    overflow: hidden;
    transition: transform 0.2s ease;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.card:hover {
    
    transform: translateY(-5px);
}

.image {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border: 1px solid black;
}
